#map { 
	height: 650px; 
}

.introduction {
	text-align: left;
	padding: 10px 10px;
	margin: 10px 20px;
}


.map-layout {
	padding: 10px 10px;
	margin: 10px 5px;
}

.title {
	text-align: center;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
}

.subtitle {
	margin: 20px 10px 0px 10px;
	padding-top: 15px;
	color: #2d2e60;
}

.questions {
	list-style-type: none;
}

.lead{
	font-weight:bold;
	color: #2d2e60;
}

.legend {
	line-height: 18px;
	color: #555;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 10px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.9;
	border-radius: 15px
}